@page "/AddPurchase/{id:int}"
@using Model
@using Practical.DataBase
@rendermode InteractiveServer
@inject ModelContext ef
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

@if (msg != null)
{
    <div class="error-message">
        @msg
    </div>
    Timer();
}
<div class="background-N1">
    <div class="add-product-container">
        <div class="add-product">
            <div class="add-product">
                <h5>Товар для заказа:<button @onclick="ChangeProduct">Применить товар</button></h5>
                <select class="add-product-select" @bind="_product.Id">
                    @foreach (var prodd in _products)
                    {   
                        <option  value="@prodd.Id">@prodd.ProductName</option>
                    }
                </select>
                
                <h5>Магазин:</h5>
                <select class="add-product-select"  @bind="_purchase.StoreId">
                    @foreach (var stor in _stores)
                    {
                        <option  value="@stor.Id">@stor.Name</option>
                    }
                </select>
                <label>Количество: @_purchase.Quantity</label>
                <input type="number" min="1" max="@_product.QuantityInStock" @bind="_purchase.Quantity"/>
            </div>
        </div>
        <button @onclick="SaveNewChanges">Создать заказ</button>
    </div>
</div>


@code {
    [Parameter] public int id { get; set; }
    private Purchase _purchase = new Purchase();
    private Product _product = new Product();
    private List<Product> _products = new List<Product>();
    private List<Store> _stores = new List<Store>();
    private string? msg;
    private int _purchaseId;
    
    private string Role;
    protected override void OnInitialized()
    {
        LoadModel();
    }
    private void LoadModel()
    {
        _stores = ef.Stores.ToList();
        _products = ef.Products.ToList();
        _product.Id = id;
    }

    private void ChangeProduct()
    { _product = ef.Products.FirstOrDefault(p => p.Id == _product.Id); }

    private void SaveNewChanges()
    {
        var clientid = 0;
        try
        {
            clientid = Convert.ToInt16(LocalStorage.GetItemAsync<string>("clientId"));
        }
        catch (Exception e)
        {
           
        if (clientid == 0)
        { _purchase.ClientId = 1; }
        
        if (clientid != 0)
        { _purchase.ClientId = clientid; }
        
        _purchase.TotalPrice = _product.SalePrice + 100; //цена доставки
        _purchase.ProductId = _product.Id; _purchase.PurchaseDate = DateTime.Now; _purchaseId = _purchase.Id;
        ef.Add(_purchase); ef.SaveChanges();
        msg = "Заказ создан";
        Timer();
        NavigationManager.NavigateTo($"/PurchaseDemo/{_purchaseId}");//добавить страницу
        }
    }
    private void Timer()
    {  Task.Delay(10000); msg = null; StateHasChanged(); }
}